@media screen and (max-width: 520px) {

.header-button {
	display: none;
}

.header-bottom {
	display: none;
}

.climber-block {
	width: 300px;
}

.description {
	display: none;
}

.name {
	font-size: 12pt;
}

.portfolio_description {
	margin: auto auto;
}

.bigger-text {
	font-size: 20pt;
}

.smaller-text {
	font-size: 12pt;
}

.menu {
	display: none;
}

.underline {
	display: none;
}

.line-block {
	width: 100%;
	margin: 10px auto;
}

.footer-top-text {
	margin: 54px 85px;
}

.main-text-news {
	margin-right: 20px;
}

.follow-us {
	justify-content: center;
}
}

@media screen and (min-width: 520px) and (max-width:850px) {
	.header-button {
		display: none;
	}

	.menu {
		display: none;
	}

	.underline {
		display: none;
	}

	.bigger-text {
		font-size: 20pt;
	}

	.smaller-text {
		font-size: 12pt;
	}

	.footer-top-text {
		margin: 54px 85px;
	}

	.line-block {
		width: 40%;
	}

}

@media screen and (max-width: 300px) {
	.footer-bar {
		display: none;
	}
}
